
<html>

<head></head>
<body background="~/img/123.jpg">
<h1> 
	<align="center">Hello Rails
</h1>

<img src="~/img/123.jpg">


<br>
<a href="posts#index">Index for Post</a>

<br>
<a href="localhost:3000/posts#new">Goto New Post</a>

<br>
<a href="comments#index">Index for Comments</a>

<br>
<a href="mailto:prafulasingh@gmail.com">E-Mail</a>

</body>
</html>